*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb

/public/uploads

/config/initializers/azure.rb
/config/initializers/lastfm.rb

/config/deploy.rb

/config/database.yml

/config/initializers/env_variables.rb
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

.env
.powenv