= render 'shared/flash'

= render 'heading', collection: @events
= render 'events/events', event_months: @event_months, events: @events, testxx: 'xx'

- content_for :sidebar do
  = render 'nav', tab: :events