.btn-default {
  @include background-image(linear-gradient(#fcfcfc, #eee));
  color: #777;

  .glyphicon {
    color: $gray-light;
  }

  &:hover {
    .glyphicon {
      color: $gray;
    }
  }
}

.btn-avatar {
  padding: 9px 12px;
}

.btn-xs {
  font-size: 12px;
}