.list-filter-results {
  margin-top: 5px;
}

.list-truncated {
  &> li {
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }
}

.list-inline {
  li.separator {
    padding: 0;
  }
}

ul.text-sm {
  font-size: 12px;
}