@import "bootstrap-variables";

.nav-stacked-sm {
  &> li > a {
    padding: 5px 10px;
    font-size: 14px;
  }
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: lighten($brand-primary, 15%);
  border-color: lighten($brand-primary, 15%);
}

.list-group-item.active a,
.list-group-item.active:hover a,
.list-group-item.active:focus a {
  color: #fff !important;
}

.list-group-item {
  .badge-primary {
  	background-color: lighten($brand-primary, 15%);
  }

  &> .fa-when-active {
  	display: none;
  	line-height: 23px;
  }

  &.active {
  	&> .fa-when-active {
  	  display: inline;
    }

    .badge {
      background: #fff;
      color: $brand-primary;
    }
  }
}