.well.well-help {
  background: #f9f9f9;
  padding: 25px;
  color: $gray-light;

  .well-icon {
    font-size: 80px;
    margin-right: 25px;
    width: 69px;
    text-align: center;
  }

  .media-body p:last-child {
    margin-bottom: 0;
  }
}