.events-list
  h2.month-title
    font-size: 16px
    border-bottom: 1px solid #eee
    padding-bottom: 5px
    margin-bottom: 0

  .event
    padding-top: 10px
    padding-bottom: 10px
    border-bottom: 1px solid #eee
    margin-left: 0
    margin-right: 0
    border-left: 3px solid #fff

    h3
      font-size: 18px

    .glyphicon-star, .glyphicon-star-empty
      color: #EED863
      font-size: 18px

    &.faved
      background: #FFFFDF
      border-color: #EEEE9D

  .month-events
    .event:last-child
      border-bottom: 0

.event-heading
  background: #333
  padding: 25px
  border-radius: 3px
  margin-bottom: 25px

  h1
    color: #eee
    margin-top: 0

  .event-controls
    a
      background: #3d3d3d
      border-color: #444
      color: #666
      border-width: 1px 1px 2px
      border-bottom: 2px solid rgba(0,0,0, 0.2)

  .event-meta
    margin: 0