@import "bootstrap-variables";
@import "compass/css3/images";
@import "compass/css3/transition";

// Events list, day by day
.events-list {
  .month-title {
    font-size:      18px;
    border-bottom:  2px solid $gray-lighter;
    padding-bottom: 5px;
    margin-bottom:  20px;
    margin-top:     0;
  }

  .event {
    margin-left:  0;
    margin-right: 0;
    padding:      15px 0;
    @include transition(all 0.1s ease-in);
    cursor: pointer;

    .media-body {
      p.event-excerpt {
        margin: 0;
      }
    }

    .event-bands-labels {
      margin-bottom: 0;
    }

    .counter-group {
      border: 1px solid $gray-lighter;
      border-width: 1px 0;
      margin-top: 15px;
      padding-bottom: 5px;
      padding-top: 5px;

      .counter {
        margin-right: 50px;
      }

      .counter-label {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 70%;
      }
    }

    .event-meta {
      font-size: 85%;
      color: $gray;

      margin-bottom: 15px;
    }

    .event-menu {
      font-size: 85%;
      margin-bottom: 0;

      &.pull-right {
        li {
          margin-left: 10px;
        }
      }
    }

    &.is-promoted {
      background: lighten($brand-info, 25%);

      .text-muted {
        color: lighten($brand-info, 5%);
      }

      .counter-group {
        border-color: lighten($brand-info, 18%);
      }

      &:hover {
        background: lighten($brand-info, 25%);

        .text-muted {
          color: lighten($brand-info, 5%);
        }
      }

      &.is-expanded {
        background: lighten($brand-info, 25%);
        box-shadow: 0 1px 1px rgba($brand-info, 0.6);
      }
    }

    &.has-passed {
      opacity: 0.4;
      @include transition(all 0.1s ease-in);
    }

    &.is-expanded {
      background: #f9f9f9;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
      margin-bottom: 15px;
    }

    &:hover {
      @include transition(all 0.1s ease-in);
      background: #f9f9f9;

      &.has-passed {
        opacity: 1;
      }
    }
  }

  .month-events {
    margin-bottom: 30px;
  }

  .event-title {
    font-size: 15px;
    margin-bottom: 4px;

    a {
      color: #333;
    }
  }

  .time {
    width: 121px;
    padding-right: 15px;

    time {
      display: block;
      margin-bottom: 5px;
    }
  }

  .media {
    margin-top: 0;
  }
}

// Single event view
.events-show {
  .event-title {
    margin-top: 0;
  }

  .avatar {
    margin-right: 10px;
  }

  .post-body {
    img {
      max-width: 100%;
    }
  }

  .description {
    overflow: hidden;
    max-height: 140px;
    position: relative;

    .expander {
      position: absolute;
      @include background(linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 30%, #fff));
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
      padding: 10px 0;

      .btn {
        padding: 10px 10px 5px;
      }

      i {
        font-size: 20px;
        color: $gray;
      }
    }

    &.expanded {
      max-height: none;

      .expander {
        opacity: 0;
        display: none;
      }
    }
  }
}

// Band thumb. The one on event's band list
.band-thumb {
  position: relative;
  height: 210px;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  background: $gray-lighter;

  .thumb-container {
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .thumb-heading {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;

    h4 {
      padding: 10px;
      background: #000;
      color: #fff;
      margin-bottom: -6px;
      margin-top: 0;

      a {
        color: #fff;
      }
    }

    .location {
      background: #fff;
      padding: 0 3px;
      margin-left: 10px;
    }
  }

  .thumb-player {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 30;
    opacity: 0.8;
  }
}