@import "bootstrap-variables";
@import "compass/css3/images";
@import "compass/css3/transition";

// Mixins
@mixin event-preset($base-color) {
  background:   lighten($base-color, 25%);
  border-color: lighten($base-color, 15%);

  .event-title a {
    color: darken($base-color, 18%);
  }

  .event-menu > a > i { color: $base-color; }

  .text-muted {
    color: $base-color
  }

  .counter-group {
    border-color: lighten($base-color, 18%);
  }

  .counter-group {
    .counter-number {
      color: darken($base-color, 18%);
    }

    .counter-label {
      color: $base-color;
    }
  }

  .event-meta {
    color: $base-color;

    i {
      color: darken($base-color, 10%);
    }
  }

  &:hover {
    background:   lighten($base-color, 25%);
    border-color: lighten($base-color, 15%);
  }

  &.is-expanded {
    background:   lighten($base-color, 25%);
    box-shadow:   0 1px 1px rgba($base-color, 0.6);
    border-color: lighten($base-color, 15%);

    &:hover {
      border-color: lighten($base-color, 15%);
    }
  }
}

// Events list, day by day
.events-list {
  .month-title {
    font-size:      18px;
    border-bottom:  2px solid $gray-lighter;
    padding-bottom: 5px;
    margin-bottom:  20px;
    margin-top:     0;
  }

  .event {
    margin-left:  0;
    margin-right: 0;
    padding:      15px;
    cursor: pointer;
    border-left: 5px solid #fff;
    position: relative;
    // @include transition(all 0.1s ease-in);

    .event-menu {
      position: absolute;
      bottom: 15px;
      right: 15px;

      & > a {
        padding: 0 0 0 10px;

        i {
          color: $gray-light;
        }
      }
    }

    .event-save i {
      color: $gray-light;
    }

    .media-body {
      p.event-excerpt {
        margin: 0;
      }
    }

    .event-poster {
      margin-right: 15px;
    }

    .event-bands-labels {
      margin-bottom: 0;
    }

    .counter-group {
      border: 1px solid $gray-lighter;
      border-width: 1px 0;
      margin-top: 15px;
      padding-bottom: 5px;
      padding-top: 5px;

      .counter {
        margin-right: 50px;
      }

      .counter-label {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 70%;
      }
    }

    .event-meta {
      font-size: 85%;
      color: $gray;
      margin-bottom: 15px;

      i {
        width: 15px;
        text-align: center;
      }
    }

    .event-menu {
      font-size: 85%;
      margin-bottom: 0;

      &.pull-right {
        li {
          margin-left: 10px;
        }
      }
    }

    // Event presets
    &.is-saved {
      @include event-preset($brand-warning);
    }

    &.is-promoted {
      @include event-preset($brand-info);
    }

    &.has-passed {
      opacity: 0.6;
      @include transition(all 0.1s ease-in);
    }

    &.is-expanded {
      background: #f9f9f9;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
      margin-bottom: 15px;
      border-color: darken(#f9f9f9, 5%);

      &:hover {
        border-color: darken(#f9f9f9, 5%);
      }
    }

    &:hover {
      // @include transition(all 0.1s ease-in);
      background: #f9f9f9;
      border-color: #f9f9f9;

      &.has-passed {
        opacity: 1;
      }
    }
  }

  .month-events {
    margin-bottom: 30px;
  }

  .event-title {
    font-size: 16px;
    margin-bottom: 4px;

    a {
      color: #333;
    }
  }

  .media {
    margin-top: 0;
  }
}