@import "compass/css3/transition";

#logo {
  background: #000;
  font-size: 39px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  line-height: 1.20;
  margin-top: 9px;
  float: left;
}

// Main nav
.nav-main {
  margin-top: 10px;
  float: right;

  .glyphicon {
    font-size: 120%;
  }

  .btn {
    &:first-child {
      border-right: 2px solid #E9E9E9;
      padding-right: 13px;

      &:hover {
        border-right: 2px solid $gray-lighter;
      }
    }
  }
}

// Search form
#search {
  width: 100%;

  .form-group {
    width: 100%;
  }

  .input-lg {
    width: 100%;
    margin-bottom: 3px;
  }
}

// Content
#content {
  padding-top: 15px;
}

// Sidebar
#sidebar {
  .affix {
    width: 263px;
    top: 25px;
  }
}

.widget-user-locations {
  hr {
    margin: 0 0 15px;
  }

  .btn-counters {
    h4 {
      margin-bottom: 3px;
      margin-top: 8px;
    }
  }
}

// Footer
#footer {
  border-top: 1px solid $gray-lighter;
  padding-top: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 13px;
  color: $gray-light;
}