@import "compass/css3/transition";

#logo {
  background: #000;
  font-size: 39px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  line-height: 1.20;
  margin-top: 9px;
  float: left;
}

.logo {
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -32px;
}

.link-text {
  color: #555;
}

// Main nav
.navbar-main {
  .btn-sign-in {
    margin-top: 8px;
    margin-left: 5px;
  }

  .nav-user-nav {
    &> li > a {
      font-size: 19px;
      line-height: 16px;
    }
  }
}

// Search form
.search-form {
  margin-right: 5px !important;
}

// Content
#content {
}

// Sidebar
#sidebar {
  .sidebar-heading:first-child {
    margin-top: 0;
  }

  .affix {
    width: 263px;
    top: 25px;
  }
}

.widget-user-locations {
  .media-heading {
    margin-bottom: 2px;
  }

  hr {
    margin: 0 0 15px;
  }

  .btn-counters {
    h4 {
      margin: 0;
    }

    small {
      text-transform: uppercase;
      font-size: 11px;
    }

    a {
      text-align: left;
      color: $gray;
      padding: 0;
    }
  }
}

// Page leads
.page-lead {
  h1 {
    letter-spacing: 0;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description {
    margin-bottom: 30px;
  }
}

// Footer
#footer {
  border-top: 1px solid $gray-lighter;
  padding-top: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 13px;
  color: $gray-light;
}